@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #000;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  position: relative;
}

.content {
  max-width: 1240px;
  margin: 0 auto;
}

.subtitle {
  font-weight: 600;
  font-size: 36px;
  line-height: 50px;
  margin-bottom: 30px;
}

.link-btn {
  text-decoration: none;
  color: #fff;
}

.btn {
  all: unset;
  cursor: pointer;
  margin-top: 30px;
  padding: 20px 40px;
  border-radius: 30px;
  border: 2px solid rgba(255, 255, 255, 1);
  font-weight: 700;
  transition: 1s;
}

.btn:hover {
  background-color: #fff;
  color: #000;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 65px;
}

.header-social {
  display: flex;
  gap: 30px;
}

.header-logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header-logo a {
  transition: 1s;
}

.header-logo img {
  max-width: 100%;
}

.header-logo p {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 700;
  transition: 1s;
}

.logo-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header-social-link img {
  transition: 0.5s;
}

.header-social-link:hover img {
  transform: scale(0.9);
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title h1 {
  font-weight: 600;
  font-size: 60px;
  line-height: 82px;
  text-align: center;
  transition: 1s;
}

.slider {
  margin: 60px 0 205px;
  height: 550px;
  max-height: 100%;
  overflow: hidden;
}

.slider-description {
  margin-bottom: 205px;
}

.slider-left-btn, .slider-right-btn {
  all: unset;
  cursor: pointer;
  position: absolute;
  top: calc(50% - 45px);
  z-index: 2;
}

.slider-left-btn {
  left: 25px;
}

.slider-right-btn {
  right: 25px;
}

.slider-list {
  height: 100%;
  display: flex;
  gap: 20px;
  flex: auto;
  justify-content: center;
  position: relative;
}

.slider-element {
  display: flex;
  align-items: end;
  justify-content: space-between;
  position: absolute;
  transition: 1s;
}

.slider-element img {
  transition: 1s;
}

.slider-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 85px;
}

.slider-description p {
  text-align: center;
}

.description-flex {
  display: flex;
  gap: 125px;
  margin-bottom: 110px;
}

.description-flex-image img {
  object-fit: contain;
}

.slider-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.slider-text p {
  text-align: center;
}

.slider-reverse {
  margin-bottom: 70px;
}

.image-list {
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: 100%;
}

.image-element img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  transition: 1s;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container {
  display: flex;
  gap: 125px;
}

.form-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.form-input form {
  max-width: 505px;
}

input[type="text"] {
  all: unset;
  cursor: text;
  box-sizing: border-box;
  border: 1px solid rgba(217, 217, 217, 1);
  max-width: 100%;
  width: 505px;
  padding: 17px;
  min-height: 56px;
  transition: 1s;
}

.background {
  margin-top: 70px;
  background: url("/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #000;
}

.background-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1025px;
  margin: 0 auto;
  padding: 70px 10px;
}

.background p {
  text-align: center;
}

.btn-background {
  all: unset;
  cursor: pointer;
  margin-top: 30px;
  padding: 20px 40px;
  border-radius: 30px;
  border: 2px solid rgb(0, 0, 0);
  font-weight: 700;
  transition: 1s;
}

.btn-background:hover {
  border: 2px solid #fff;
  color: #fff;
  background-color: #000;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

.footer-social {
  display: flex;
  gap: 30px;
  align-items: center;
}

.footer-social-link img {
  transition: 0.5s;
}

.footer-social-link:hover img {
  transform: scale(0.9);
}

.back-to-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 100;
  border-radius: 100%;
  background: rgba(217, 217, 217, 0.5);
  padding: 1rem;
  border: none;
  cursor: pointer;
  opacity: 100%;
  transition: opacity 0.5s;
}

.back-to-top:hover {
  opacity: 60%;
}

.hidden {
  opacity: 0%;
}

.back-to-top-icon {
  width: 2rem;
  height: 2rem;
  color: #7ac9f9;
}

@media screen and (max-width: 1250px) {
  .content {
    max-width: 1100px;
  }

  .btn {
    margin-top: 20px;
    padding: 15px 30px;
  }

  .title h1 {
    font-size: 55px;
  }

  .subtitle {
    font-size: 32px;
  }

  .slider {
    height: 480px;
    margin-bottom: 120px;
  }

  .slider-element img {
    width: 350px;
    height: 480px;
  }

  .slider-description {
    margin-bottom: 120px;
  }

  .btn-background {
    margin-top: 20px;
  }
}

@media screen and (max-width: 1110px) {
  .content {
    max-width: 968px;
  }

  .title h1 {
    font-size: 50px;
  }

  .subtitle {
    font-size: 30px;
  }

  .slider {
    height: 450px;
  }

  .slider-element img {
    width: 300px;
    height: 420px;
  } 
  
  .description-flex {
    gap: 30px;
  }

  .form-container {
    flex-direction: column;
  }

  .form-input {
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }

  .form-input .btn {
    margin-top: 0;
    padding: 15px 30px;
    white-space: nowrap;
  }

  .btn-background {
    padding: 15px 40px;
  }
}

@media screen and (max-width: 980px) {
  .content {
    max-width: 880px;
  }

  p {
    text-align: center;
  }

  .header-logo p {
    font-size: 26px;
  }

  .title h1 {
    font-size: 45px;
  }

  .slider {
    height: 400px;
    margin-bottom: 85px;
  }

  .slider-element img {
    width: 280px;
    height: 380px;
  }  

  .description-flex {
    flex-direction: column;
    align-items: center;
  }

  .subtitle {
    text-align: center;
  }
}

@media screen and (max-width: 890px) {
  .content {
    max-width: 768px;
  }

  .title h1 {
    font-size: 40px;
  }

  .slider {
    height: 350px;
    margin: 30px 0 60px;
  }

  .slider-element img {
    width: 240px;
    height: 330px;
  }  
}

@media screen and (max-width: 800px) {
  .content {
    max-width: 650px;
  }

  .header {
    margin: 25px 0 30px;
  }

  .subtitle {
    font-size: 24px;
  }

  p {
    font-size: 14px;
  }

  .header-logo {
    gap: 5px;
  }

  .logo-container {
    gap: 5px;
  }

  .header-logo p {
    font-size: 20px;
  }

  .slider {
    height: 100%;
    overflow: visible;
  }

  .slider-list {
    height: 100%;
    flex-direction: column;
    align-items: center;
  }

  .slider-element {
    position: static;
  }

  .slider-element img {
    width: 400px;
    height: 551px;
  }

  .slider-left-btn, .slider-right-btn {
    display: none;
  }

  .description-flex-image img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
  }

  .image-list {
    flex-direction: column;
    align-items: center;
  }

  .form-input {
    flex-direction: column;
  }

  .form-input form {
    display: flex;
    flex-direction: column;
  }

  .form-input .btn {
    margin-top: 20px;
  }

  .footer {
    padding: 25px 0;
  }

  .btn-background {
    padding: 15px 30px;
  }
}

@media screen and (max-width: 680px) {
  .content {
    max-width: 550px;
  }

  .slider-description {
    margin: 40px 0 80px;
  }

  .description-flex {
    gap: 65px;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 586px) {
  .content {
    max-width: 480px;
}

.header-logo p {
  font-size: 16px;
}

.header-logo {
  gap: 0;
}

.logo-container {
  gap: 0;
}

.slider-element img {
  object-fit: contain;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%;
}

  input[type="text"] {
    all: unset;
    cursor: text;
    box-sizing: border-box;
    border: 1px solid rgba(217, 217, 217, 1);
    max-width: 100%;
    width: 350px;
    padding: 17px;
    min-height: 56px;
  }
}

@media screen and (max-width: 490px) {
  .content {
    max-width: 350px;
  } 

  .header-logo p {
    font-size: 12px;
  }

  .logo-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 24px;
  }

  .logo-container p {
    font-size: 14px;
  }

  .header-social {
    display: none;
  }

  input[type="text"] {
    width: 300px;
  }
}